<div>
    <h2>Publish Idea</h2>
   <form action="/ideas" method="POST">
        <div>
            <input name="heading" type="text" placeholder="Write Head Idea"/>
        </div>
        <div>
            <textarea name="content" type="text" placeholder="Write Content Idea"></textarea>
        </div>
        <div>
            <button type="submit">Publish</button>
        </div>
    </form>
</div>
